:root{
    background-color: blanchedalmond;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: rgb(40, 109, 187);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.navbar ul {    
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    list-style-type: none;
    text-decoration-style: none;    
    margin-right: 200px;
}

.navbar ul li a {
    text-decoration: none;
    color: orange;
}

.navbar ul li a:hover {
    color: #fff;
    animation-delay: 0.5s;
}




.judul {
    margin-top: 4rem;
}

.footer {
    left: 0px;
    width: 100%;
    height: 50;    
    line-height: 40px;
    background: #0d749c;
    color: #fff;
    position: relative;
    bottom: 0px;
    text-align: center;
    padding-left: 0px;
    
}





/* navbar end */
.fork {
    color: blue;
    font-weight: bold;
}

.fork-img img{
    display: inline-block;    
    width: 50rem;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    align-items: center;
    
    
}
.origin img{
    display: inline-block;
    width: 50rem;
    height: auto;
}

.code img{
    display: inline-block;
    width: 50rem;
    height: auto;

}
.terminal img{
    width: 50%;
    height: auto;
    display: inline-block;
}

.push img{
    width: 50rem;
    height: auto;
    display: inline-block;
}

.bold img{
    width: 50rem;
    height: auto;
    color: red;
}

/* css bootcamp 
list-style-type=untuk hilangkan atribut type bulat*/
